
@{
    ViewData["Title"] = "Index";
}

@* <header>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="SlowTestOne" asp-action="Index">SlowTestOne</a></li>
            <li><a asp-controller="SlowTestTwo" asp-action="Index">SlowTestTwo</a></li>
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>
</header> *@

<h1>SlowTestTwo Index</h1>

